<!-- <mat-tab-group mat-align-tabs="start">
  <mat-tab label="District">
    <app-district></app-district>
  </mat-tab>
  <mat-tab label="Local Body"><app-localbody></app-localbody></mat-tab>
  <mat-tab label="Ward"><app-ward></app-ward></mat-tab>
  <mat-tab label="Polling Station"><app-pollingstation></app-pollingstation></mat-tab>
  <mat-tab label="Voters List"><app-voter></app-voter></mat-tab>
  <mat-tab label="Candidate List"><app-candidate></app-candidate></mat-tab>
  <mat-tab label="Religion"><app-religion></app-religion></mat-tab>
  <mat-tab label="Caste"><app-caste></app-caste></mat-tab>
</mat-tab-group> -->

<router-outlet></router-outlet>